body {
  margin: 0;
  padding: 0;
  font-family: 'Protest Strike', sans-serif;
  color: IndianRed;
}

img {
  width: 30px;
  height: 30px;
  display: inline-block;
  align-self: center;
}
#container {
  /* position: relative; */
}

#container canvas,
#main-screen-gear {
  position: absolute;
}

#container canvas,
#settings-container {
  position: absolute;
}

#container canvas,
#numbers-container {
  position: absolute;
}

#container canvas,
.number-problem-container {
  position: absolute;
}

#container canvas,
.feedback {
  position: absolute;
}

#container canvas,
.playAgain {
  position: absolute;
}

#container canvas,
.success-image {
  position: absolute;
}

.success-image {
  width: 600px;
  height: 800px;
  left: 30%;
  top: 25%;
}
/* Gear icon */
#main-screen-gear {
  right: 15px;
  top: 15px;
}

/* Settings */
.settings-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 5px 15px 10px;
  background-color: Cornsilk;
}

.settings-header {
  width: 100%;
  align-items: flex-end;
  display: flex;
  margin-left: auto;
  margin-right: 100px;
}

h1,
settings-header {
  font-size: 1.5em;
}
h1 {
  margin: 18px 4px 18px;
  display: inline-block;
  align-self: center;
}
.columns {
  display: flex;
  flex-direction: row;
  line-height: 2;
  font-size: 2em;
}

.col1 {
  width: 38%;
  line-break: auto;
}

.col2 {
  width: 38%;
  align-self: flex-end;
}

input[type='text'] {
  border: none;
  border-bottom: 2px solid IndianRed;
  background-color: cornsilk;
  height: 2em;
  color: indianred;
  font-size: 25px;
  width: 50px;
  padding-left: 20px;
}

input[id='fname'] {
  width: 300px;
}

.done-button {
  align-self: flex-end;
  padding-left: 20px;
}

.button {
  background-color: cornsilk;
  border: 5px solid IndianRed;
  border-radius: 10px;
  color: IndianRed;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 80px;
  font-size: 36px;
}

.button:hover {
  border: 5px solid DarkViolet;
  color: DarkViolet;
}

/* .numbers {
  font-family: 'Bungee Spice', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
} */

.hide {
  display: none;
}

/* Number Problem Container */
.number-problem-container {
  display: absolute;
  top: 15%;
  left: 8%;
  /* min-width: 300px; */
  align-items: center;
}

.number-problem {
  display: flex;
  font-size: 3.5em;
  gap: 20px;
  align-items: center;
}

.question {
  color: BlueViolet;
}

/* Numbers Container */
#numbers-container {
  width: 40%;
  height: 50%;
  right: 10%;
  top: 10%;
}

.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.grid > button {
  padding: 10px;
  background-color: PapayaWhip;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 4em;
  color: IndianRed;
  font-family: 'Protest Strike', sans-serif;
  cursor: pointer;
  box-shadow: 0 15px 21px rgba(0, 0, 0, 0.2);
}

.grid > button:active {
  background-color: rgba(255, 239, 213, 0.8);
}

button.clear {
  font-size: 3em;
}

button.check {
  font-size: 3em;
}

.feedback {
  top: 25%;
  left: 20%;
}

.try-again {
  font-size: 4em;
  color: SeaGreen;
}
.success {
  font-size: 6em;
  color: DarkTurquoise;
  animation: blinker 0.7s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.playAgain {
  font-size: 4em;
  font-family: 'Protest Strike', sans-serif;
  color: SeaGreen;
  top: 65%;
  right: 10%;
  border-radius: 10px;
  border: 2px solid ForestGreen;
  background-color: YellowGreen;
}

@media (max-width: 767px) {
  .settings-container {
    height: 100%;
  }

  .settings-header {
    display: none;
  }

  .columns {
    line-height: 1.5;
    font-size: 1em;
  }

  .col2 {
    align-self: flex-start;
    width: 40%;
    line-break: auto;
  }
  input[type='text'] {
    height: 1.3em;
    color: indianred;
    font-size: 2em;
    width: 40px;
    padding-left: 20px;
  }

  input[id='fname'] {
    width: 150px;
  }

  .button {
    border: 3px solid IndianRed;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    font-size: 1.5em;
  }

  /* NUMBER PROBLEM */
  .number-problem {
    font-size: 1.9em;
    gap: 10px;
  }

  /* Numbers Container */
  .grid > button {
    padding: 3px;
    font-size: 2.8em;
  }

  button.clear {
    font-size: 1.3em;
  }

  button.check {
    font-size: 1.8em;
  }

  .success {
    font-size: 4em;
    color: DarkTurquoise;
    animation: blinker 0.7s linear infinite;
  }
  .success-image {
    width: 300px;
    height: 400px;
    left: 30%;
    bottom: 0%;
  }

  .playAgain {
    font-size: 2em;
    top: 75%;
    right: 3%;
    border-radius: 5px;
    border: 2px solid ForestGreen;
  }
}

@media (max-width: 667px) {
  .settings-container {
    height: 100%;
  }

  .settings-header {
    display: none;
  }

  .columns {
    line-height: 1.5;
    font-size: 1em;
  }

  .col2 {
    align-self: flex-start;
    width: 40%;
    line-break: auto;
  }
  input[type='text'] {
    height: 1em;
    color: indianred;
    font-size: 1.8em;
    width: 30px;
    padding-left: 10px;
  }

  input[id='fname'] {
    width: 100px;
  }

  .button {
    border: 3px solid IndianRed;
    border-radius: 6px;
    width: 80px;
    height: 30px;
    font-size: 1.2em;
  }

  /* NUMBER PROBLEM */
  .number-problem {
    font-size: 1.7em;
    gap: 8px;
  }

  /* Numbers Container */
  .grid > button {
    padding: 2px;
    font-size: 2em;
  }

  button.clear {
    font-size: 1em;
  }

  button.check {
    font-size: 1.5em;
  }

  .success {
    font-size: 3em;
    color: DarkTurquoise;
    animation: blinker 0.7s linear infinite;
  }
  .success-image {
    width: 200px;
    height: 300px;
    left: 30%;
    bottom: 0%;
  }

  .playAgain {
    font-size: 1.5em;
    top: 75%;
    right: 3%;
    border-radius: 5px;
    border: 1px solid ForestGreen;
  }
}
