body {
  font-family: Futura;
}
.hidden {
  display: none;
}
#container {
  background-color: MediumAquaMarine;
  border: 25px solid DodgerBlue;
  border-radius: 15px;
  height: 90vh;
}
.success {
  color: Purple;
  font-size: 400%;
  text-align: center;
  width: 100%;
}
.wrong-device {
  margin: 15%;
  font-size: 2em;
  text-align: center;
}
/*#h1 {
  font-size: 20px;
}*/
#lower-page {
  text-align: center;
  width: 100%;
}
#success-image {
  margin-top: 10vh;
}

@keyframes flash-border {
    from {border-color: purple;}
    to {border-color: orange;}
}

#play-button {
    animation-name: flash-border;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    background-color: GreenYellow;
    border: 5px solid;
    border-radius: 10px;
    color: Purple;
    font-family: Futura;
    font-size: 3em;
    position: absolute;
    bottom: 8vw;
    margin: 2vw auto 0;
    padding: 2vw;
    left: 33vw;
    /*padding-bottom: 2vw;*/
    width: 35vw;
  }
.div-404 {
  position: relative;
  height: 700px;
  width: 100%;
}
.text-404 {
  text-align: center;
  line-height: normal;
  position: absolute;
  height: 100px;
  width: 300px;
  top: 100px;
  left: 35%;
}
@media (max-width: 700px) {
  #container {
    border: 15px solid DodgerBlue;
  }
  #play-button {
    font-size: 1em;
    position: static;
    float: right;
    margin: 0 5vw 0 auto;
    left: default;
    bottom: 3vw;
    width: 18vw;
  }
  .success {
    /*padding-top: 3%;*/
    color: Gold;
    font-size: 300%;
    height: 30vw;
    text-align: center;
    width: 100%;
  }
  #success-image {
    margin-top: 5vh;
    margin-left: -10vw;
  }
}
@media (orientation: portrait) {
  .orientation { display: block; }
  #full-screen { display: none; }
}
@media (orientation: landscape) {
  .orientation { display: none; }
  /*.overlay { display: block; }*/
}
