body {
  font-family: Futura;
}

.wrong-device {
  margin: 300px;
}

#container {
  background-color: MediumAquaMarine;
  border: 25px solid DodgerBlue;
  border-radius: 20px;
}

.success {
  font-size: 500%;
  text-align: center;
  background-color: Magenta;
  /*border-radius: 15px;*/
  /*border: 3px solid green;*/
  color: SpringGreen;
  height: 40vw;
  width: 1000px;
  padding-top: 100px;
}

.hidden {
  display: none;
}

#h1 {
  font-size: 20px;
}

#lower-page {
  width: 1000px;
  text-align: center;
  background-color: Magenta;
}
#play-button {
  font-family: Futura;
  width: 35vw;
  height: 15vw;
  font-size: 2em;
  padding: 2vw;
  padding-bottom: 50px;
  background-color: PowderBlue;
  color: Purple;
  border: 5px solid green;
  border-radius: 15px;
  margin: 3vw auto;
}
