body {
  font-family: Futura;
}

.hidden {
  display: none;
}
@keyframes flashing-colors {
    from {background-color: magenta;}
    to {background-color: gold;}
}
.success {
  animation-name: flashing-colors;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  background-color: red;
  color: SpringGreen;
  font-size: 500%;
  height: 40vw;
  padding-top: 100px;
  text-align: center;
  width: 1000px;
}
.wrong-device {
  margin: 300px;
}

#container {
  background-color: MediumAquaMarine;
  border: 25px solid DodgerBlue;
  border-radius: 20px;
}
#h1 {
  font-size: 20px;
}
#lower-page {
  text-align: center;
  width: 1000px;
}
@keyframes flash-border {
    from {border-color: purple;}
    to {border-color: orange;}
}
#play-button {
  animation-name: flash-border;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  background-color: GreenYellow;
  border: 5px solid;
  border-radius: 15px;
  color: Purple;
  font-family: Futura;
  font-size: 3em;
  height: 15vw;
  margin: 3vw auto;
  padding: 2vw;
  padding-bottom: 50px;
  width: 35vw;
}
